@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section{
    min-height: 100vh;
    background-image: url('https://www.shutterstock.com/image-photo/green-sprout-growing-seed-260nw-98187086.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%; 
  
}
nav{
    
    height: 80px;

}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #7ec98b;
}
nav ul{
    float: right;
    list-style: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding:2px 5px;
  
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
    padding-top: 2px;
}
nav ul li a:hover{
    background-color: #1a5524;
    transition: 0.50=s ease;
}
nav ul li .active{
    background-color: #1a5524;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 36px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 20px;
}
.article p{
    font-size:18px ;
    color: white;
    line-height: 1.5;
    margin-bottom: 50px;
}
.article .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1a5524;
}
.article .btn:hover{
    background-color: #4399fa;
    transition: 0.5s ease;
}
footer {
    background-color: #080808;
    color: #ffffff;
    padding: 20px;
text-align: center;
  }
  
  