body {
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/85/88/92/1000_F_285889235_4OdZaoyEhH7D1ZBAGrBNsOJrHUHLtM9o.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 100%;

}
.heading {
    color: black;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-display: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 125%;
}
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width:125%;
}
.screen {
    display: flex;
    background-color: grey;
    height: 25px;
    border: 2px solid white;
}
.b1 {
    background-color: black;
    color: white;
    width: 100%;
}